<!DOCTYPE html>
<html>
  <head>
    <title>RailsBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAfQswQR_fJCFDakpKwbOoQnUDUvtLlWxs"%>
    <%= favicon_link_tag asset_path('rails_bnb.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>